# Google Apps Script Web App URL
# Deploy your Apps Script as a web app and paste the URL here
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxGsEwR8mm7s3-H0SyCVdM5K9lbL80o_YTDxUHdoeEl1dsflQtF-BPkC3kVZb6063VC/exec